@namespace ClearBlazor
@inherits InputBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()" 
         @onmouseenter="OnMouseEnter"
         @onmouseleave="OnMouseLeave">
        <StackPanel Orientation="Orientation.Landscape"
                    HorizontalAlignment=Alignment.Start
                    VerticalAlignment=Alignment.Start>
            @if (Label != null && LabelLocation == LabelLocation.Start)
            {
                <TextBlock VerticalAlignment=Alignment.Center Margin=@GetLabelMargin()>@Label</TextBlock>
            }
            <Grid OnClicked=@OnSwitchClicked Style=@GetSwitchStyle()>
                <Border Style=@GetTrackStyle()/>
                <Border Class="clear-ripple clear-ripple-icon switch-transition" Style=@GetHoverStyle() VerticalAlignment=Alignment.Center>
                    <Border Style=@GetThumbStyle() VerticalAlignment=Alignment.Center HorizontalAlignment=Alignment.Center />
                </Border>
            </Grid>

            @if (Label != null && LabelLocation == LabelLocation.End)
            {
                <TextBlock VerticalAlignment=Alignment.Center Margin=@GetLabelMargin()>@Label</TextBlock>
            }
        </StackPanel>
    </div>
</CascadingValue>
