@page "/TableViewVirtualizeLocal"
@namespace ListsTest
@using TestData;

<StackPanel Orientation=Orientation.Portrait Spacing=30>
    <TextBlock HorizontalAlignment=Alignment.Start Typo=Typo.H4>Table View</TextBlock>
    <TextBlock HorizontalAlignment=Alignment.Start>VirtualizationMode:Virtualized : local data (500 rows initially loaded from DB)</TextBlock>
    <Grid Columns="800,auto" Rows="600,auto,auto" RowSpacing=20>
        <TableView @ref=_table TItem=TableRow CornerRadius=4 BorderThickness=1 Margin=10 Padding=10
                   RowSpacing=10 ColumnSpacing=10
                   VirtualizeMode=VirtualizeMode.Virtualize
                   RowHeight=30
                   Items=@_localTableRows
                   @bind-SelectedItem=_selectedItem
                   @bind-SelectedItems=_selectedItems
                   HoverHighlight=@_hoverHighlight
                   HorizontalGridLines=GridLines.All
                   VerticalGridLines=GridLines.All
                   AllowSelectionToggle=@_allowSelectionToggle
                   SelectionMode=@_selectionMode
                   ShowHeader=true
                   StickyHeader=true
                   ShowLoadingSpinner=false>
            <TableColumn Label="First Name" TItem=TableRow Field=@(x =>x.FirstName) />
            <TableColumn Label="Last Name" TItem=TableRow Field=@(x =>x.LastName) />
            <TableColumn Label="Product" TItem=TableRow Field=@(x =>x.Product)>
                <DataTemplate Context=item>
                    <TextBlock VerticalAlignment=Alignment.Center 
                               TextWrapping=TextWrap.NoWrap>@(item.Product)</TextBlock>
                </DataTemplate>
            </TableColumn>
            <TableColumn Label="Available" TItem=TableRow Field=@(x =>x.Available) />
            <TableColumn Label="Quantity" ContentAlignment=Alignment.Center TItem=TableRow Field=@(x =>x.Quantity) />
            <TableColumn Label="UnitPrice" ContentAlignment=Alignment.Stretch TItem=TableRow Field=@(x =>x.UnitPrice)>
                <DataTemplate Context=item>
                    <TextBlock VerticalAlignment=Alignment.Center 
                               TextAlignment=Alignment.Center>$@(item.UnitPrice.ToString("0.00"))</TextBlock>
                </DataTemplate>
            </TableColumn>
            <TableColumn Label="Notes" TItem=TableRow Field=@(x =>x.Notes) ColumnDefinition="50" >
                <DataTemplate Context=item>
                    <TextBlock VerticalAlignment=Alignment.Center 
                               TextWrapping=TextWrap.NoWrap TextTrimming=true>@(item.Notes)</TextBlock>
                </DataTemplate>
            </TableColumn>
        </TableView>
        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                        @bind-Value:after=@SelectionModeChanged>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.FirstName</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.FirstName))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
        <WrapPanel Row=1 ColumnSpan=2 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
            <Button OnClicked=@(_ => GotoIndex(20, Alignment.Start))> Goto 20(start)</Button>
            <Button OnClicked=@(_ => GotoIndex(50, Alignment.Center))>Goto 50 (center)</Button>
            <Button OnClicked=@(_ => GotoIndex(70, Alignment.End))>Goto 70 (end)</Button>
            <Button OnClicked=@OnGotoEnd>Goto end</Button>
            <Button OnClicked=@OnGotoStart>Goto start</Button>
            <Button OnClicked=@OnAddNewItem>Add new item</Button>
        </WrapPanel>
        <WrapPanel Row=2 ColumnSpan=2 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
            <Button OnClicked=@Up1>Scroll +1</Button>
            <Button OnClicked=@Up5>Scroll +5</Button>
            <Button OnClicked=@Up10>Scroll +10</Button>
            <Button OnClicked=@Down1>Scroll -1</Button>
            <Button OnClicked=@Down5>Scroll -5</Button>
            <Button OnClicked=@Down10>Scroll -10</Button>
            <Button OnClicked=@OnAddNewItemGotoEndIfAtEnd>Add new item and goto end if at end</Button>
            <Button OnClicked=@ChangeItem>Change first item</Button>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtEnd>CheckAtEnd</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atEnd</TextBlock>
            </StackPanel>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtStart>CheckAtStart</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atStart</TextBlock>
            </StackPanel>
        </WrapPanel>
    </Grid>
</StackPanel>
