@page "/TableViewPaginationDB"
@namespace ListsTest
@using Data;

<StackPanel Orientation=Orientation.Portrait>
    <TextBlock HorizontalAlignment=Alignment.Start Typo=Typo.H4>Table View</TextBlock>
    <TextBlock HorizontalAlignment=Alignment.Start>VirtualizationMode:Pagination : from DB (5000 rows loaded as required)</TextBlock>
    <Grid Columns="800,auto" Rows="600,auto,auto,auto">
        <TableView @ref=_table TItem=TestListRow CornerRadius=4 BorderThickness=1 Margin=10 Padding=10
                   RowSpacing=20 ColumnSpacing=10
                   @bind-SelectedItem=_selectedItem
                   @bind-SelectedItems=_selectedItems
                   DataProvider=@GetItemsFromDatabaseAsync
                   SelectionMode=@_selectionMode
                   AllowSelectionToggle=@_allowSelectionToggle
                   HorizontalGridLines=GridLines.All
                   VerticalGridLines=GridLines.All
                   HoverHighlight=@_hoverHighlight
                   OverscrollBehaviour=OverscrollBehaviour.None
                   VirtualizeMode=VirtualizeMode.Pagination
                   PageSize=@PageSize
                   ShowHeader=true
                   StickyHeader=true>
            <TableColumn Label="Index" TItem=TestListRow Field=@(x =>x.Index) />
            <TableColumn Label="First Name" TItem=TestListRow Field=@(x =>x.FirstName) />
            <TableColumn Label="Last Name" TItem=TestListRow Field=@(x =>x.LastName) />
            <TableColumn Label="Quantity" HorizontalContentAlignment=Alignment.Center TItem=TestListRow Field=@(x =>x.Quantity) />
            <TableColumn Label="UnitPrice" HorizontalContentAlignment=Alignment.Stretch TItem=TestListRow Field=@(x =>x.UnitPrice)>
                <DataTemplate Context=item>
                    <TextBlock TextAlignment=Alignment.Center>$@(item.UnitPrice.ToString("0.00"))</TextBlock>
                </DataTemplate>
            </TableColumn>
            <TableColumn Label="Notes" TItem=TestListRow Field=@(x =>x.Notes)>
                <DataTemplate Context=item>
                    <TextBlock VerticalAlignment=Alignment.Start
                               TextWrapping=TextWrap.NoWrap TextTrimming=true>@(item.Notes)</TextBlock>
                </DataTemplate>

            </TableColumn>
        </TableView>
        <Pagination HorizontalAlignment=Alignment.Center Row=1 Color=Color.Primary
                    ShowFirstAndLastButtons=true
                    SelectedPage=@_selectedPage
                    NumPages=@_numPages
                    NumPagesShown=4
                    SelectedPageChanged=@PageChanged />
        <TextBlock HorizontalAlignment=Alignment.Center Row=2 Margin=10>Page @(_selectedPage) of @(_numPages)</TextBlock>
        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                        @bind-Value:after=@SelectionModeChanged>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.FirstName</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.FirstName))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
        <WrapPanel Row=3 ColumnSpan=3 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row Margin=10>
            <Button OnClicked=@(e => GotoIndex(50, Alignment.Center))>Goto 50</Button>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtEnd>CheckAtEnd</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atEnd</TextBlock>
            </StackPanel>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtStart>CheckAtStart</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atStart</TextBlock>
            </StackPanel>
        </WrapPanel>
    </Grid>
</StackPanel>

