@page "/TableViewPaginationLocal"
@namespace ListsTest
<StackPanel Orientation=Orientation.Portrait>
    <TextBlock HorizontalAlignment=Alignment.Start Typo=Typo.H4>Table View</TextBlock>
    <TextBlock HorizontalAlignment=Alignment.Start>VirtualizationMode:InfiniteScroll : local data (500 rows initially loaded from DB)</TextBlock>
    <Grid Columns="400,auto,*" Rows="600,*">
        <TableView @ref=_table TItem=TableRow CornerRadius=4 BorderThickness=1 Margin=10 Padding=10
                  @bind-SelectedItem=_selectedItem
                  @bind-SelectedItems=_selectedItems
                  SelectionMode=@_selectionMode
                  AllowSelectionToggle=@_allowSelectionToggle
                  HoverHighlight=@_hoverHighlight OverscrollBehaviour=OverscrollBehaviour.None
                  VirtualizeMode=VirtualizeMode.Pagination
                  PageSize=25
                  InitialIndex=@((20, Alignment.Center))
                  DataProvider=@GetItemsLocallyAsync>
            <TableColumn Label="Index" TItem=TableRow Field=@(x =>x.Index) />
            @*             <TableColumn Label="First Name" TItem=TableRow Field=@(x =>x.FirstName) />
            <TableColumn Label="Last Name" TItem=TableRow Field=@(x =>x.LastName) />
            <TableColumn Label="Product" TItem=TableRow Field=@(x =>x.Product) />
            <TableColumn Label="Available" TItem=TableRow Field=@(x =>x.Available) />
            <TableColumn Label="Quantity" ContentAlignment=Alignment.Center TItem=TableRow Field=@(x =>x.Quantity) />
            <TableColumn Label="UnitPrice" ContentAlignment=Alignment.Stretch TItem=TableRow Field=@(x =>x.UnitPrice)>
                <DataTemplate Context=item>
                    <TextBlock TextAlignment=Alignment.Center>$@(item.UnitPrice.ToString("0.00"))</TextBlock>
                </DataTemplate>
            </TableColumn>
            <TableColumn Label="Notes" TItem=TableRow Field=@(x =>x.Notes) />
 *@

        </TableView>
        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                        @bind-Value:after=@SelectionModeChangedAsync>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.FirstName</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.FirstName))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
        <WrapPanel Row=1 ColumnSpan=3 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row Margin=10>
            <StackPanel Orientation=Orientation.Landscape>
                <TextBlock>Page @(_table.CurrentPageNum()) of @(_table.NumPages())</TextBlock>
            </StackPanel>
            <Button OnClicked=@OnNextPageAsync>Next Page</Button>
            <Button OnClicked=@OnPrevPageAsync>Prev Page</Button>
            <Button OnClicked=@OnGotoStartAsync>Goto Start</Button>
            <Button OnClicked=@OnGotoEndAsync>Goto End</Button>
        </WrapPanel>
        <WrapPanel Row=2 ColumnSpan=3 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row Margin=10>
            <Button OnClicked=@(e => GotoIndexAsync(50, Alignment.Center))>Goto 50</Button>
            <Button OnClicked=@OnAddNewItemAsync>Add new item</Button>
            <Button OnClicked=@OnAddNewItemGotoEndIfAtEndAsync>Add new item and goto end if at end</Button>
            <Button OnClicked=@ChangeItem>Change first item</Button>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtEndAsync>CheckAtEnd</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atEnd</TextBlock>
            </StackPanel>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtStartAsync>CheckAtStart</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atStart</TextBlock>
            </StackPanel>
        </WrapPanel>
    </Grid>
</StackPanel>
