@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        <ScrollViewer @ref="ScrollViewer">
            @if (Virtualize)
            {
                <ClearBlazor.Virtualize @ref="VirtualizeElement" ScrollViewer=@ScrollViewer Context="item"
                                        Items=@ListViewData ItemHeight=@ItemHeight HorizontalContentAlignment=@HorizontalContentAlignment>
                    <div style=@GetContentStyle(item) @onmouseenter="(() => MouseEnter(item))" 
                                                  @onmouseleave="(() => MouseLeave())" @onclick="(() => ItemClicked(item))">
                        @RowTemplate(GetItemInfo(item))
                    </div>
                </ClearBlazor.Virtualize>
            }
            else
            {
                @foreach (var item in ListViewData!)
                {
                    <div style=@GetContentStyle(item) @onmouseenter="(() => MouseEnter(item))"
                         @onmouseleave="(() => MouseLeave())" @onclick="(() => ItemClicked(item))">
                        @RowTemplate(GetItemInfo(item))
                    </div>
                }
            }
        </ScrollViewer>
    </div>
</CascadingValue>