@namespace ClearBlazorTest
@using ClearBlazor.Common
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        <StackPanel Spacing=20>
            <TextBlock Typo=Typo.H5 FontWeight=(int)FontWeight.Bold>Parameters</TextBlock>
            @if (ParameterApi == null || ParameterApi.Count == 0)
            {
                <TextBlock>There are no parameters defined</TextBlock>
            }
            else
            {
                <TableView BorderThickness=1 CornerRadius=4 HorizontalGridLines=GridLines.All
                       Items=@ParameterApi Padding=5 RowSpacing=10 ColumnDefs="auto,auto,auto,*" ColumnSpacing=20>
                    <TableColumn Label="Name" TItem=ApiComponentInfo Field=@(x =>x.Name) />
                    <TableColumn Label="Type" TItem=ApiComponentInfo Field=@(x =>x.Type)>
                        <DataTemplate Context=Item>
                            <TextBlock>@GetMarkupString(Item.Type)</TextBlock>
                        </DataTemplate>
                    </TableColumn>
                    <TableColumn Label="Default" TItem=ApiComponentInfo Field=@(x =>x.Default) />
                    <TableColumn Label="Description" TItem=ApiComponentInfo Field=@(x =>x.Description)>
                        <DataTemplate Context=Item>
                            <TextBlock>@GetMarkupString(Item.Description)</TextBlock>
                        </DataTemplate>
                    </TableColumn>
                </TableView>
            }
            <TextBlock Typo=Typo.H5 FontWeight=(int)FontWeight.Bold>Methods</TextBlock>
            @if (MethodApi == null || MethodApi.Count == 0)
            {
                <TextBlock>There are no methods defined</TextBlock>
            }
            else
            {
                <TableView BorderThickness=1 CornerRadius=4 HorizontalGridLines=GridLines.All
                       Items=@MethodApi Padding=5 RowSpacing=10 ColumnDefs="auto,auto,*" ColumnSpacing=20>
                    <TableColumn Label="Method signature" TItem=ApiComponentInfo Field=@(x =>x.Name) />
                    <TableColumn Label="Return type" TItem=ApiComponentInfo Field=@(x =>x.Type) >
                        <DataTemplate Context=Item>
                            <TextBlock>@GetMarkupString(Item.Type)</TextBlock>
                        </DataTemplate>
                    </TableColumn>
                    <TableColumn Label="Description" TItem=ApiComponentInfo Field=@(x =>x.Description)>
                        <DataTemplate Context=Item>
                            <TextBlock>@GetMarkupString(Item.Description)</TextBlock>
                        </DataTemplate>
                    </TableColumn>
                </TableView>
            }
        </StackPanel>
    </div>
</CascadingValue>
