@namespace ClearBlazorTest
@using ClearBlazor.Common
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        <Grid RowSpacing=20 Rows="auto,*">
            <TextBlock Typo=Typo.H5 FontWeight=(int)FontWeight.Bold>Fields</TextBlock>
            @if (FieldApi == null)
            {
                <TextBlock Row=2>There are no fields defined</TextBlock>
            }
            else
            {
                <TableView Row=2 BorderThickness=1 CornerRadius=4 HorizontalGridLines=GridLines.All
                       Items=@FieldApi Padding=5 RowSpacing=10 ColumnSpacing=30>
                    <TableColumn Label="Name" TItem=ApiFieldInfo Field=@(x =>x.Name) ColumnDefinition=auto />
                    <TableColumn Label="Type" TItem=ApiFieldInfo Field=@(x =>x.Type) ColumnDefinition=auto
                                 HorizontalHeaderAlignment=Alignment.Center HorizontalContentAlignment=Alignment.Center>
                        <DataTemplate Context=Item>
                            <TextBlock>@(new MarkupString(Item.Type))</TextBlock>
                        </DataTemplate>
                    </TableColumn>
                    <TableColumn Label="Description" TItem=ApiFieldInfo Field=@(x =>x.Description) ColumnDefinition=*>
                        <DataTemplate Context=Item>
                            <TextBlock>@(new MarkupString(Item.Description))</TextBlock>
                        </DataTemplate>
                    </TableColumn>
                </TableView>
            }
        </Grid>
    </div>
</CascadingValue>
