@page "/ListView"
@namespace ListsTest
@using Data;

<StackPanel Orientation=Orientation.Portrait Spacing=30>
    <TextBlock HorizontalAlignment=Alignment.Start Typo=Typo.H4>List View</TextBlock>
    <TextBlock HorizontalAlignment=Alignment.Start>VirtualizationMode:None : local data (100 rows)</TextBlock>
    <Grid Columns="400,auto" Rows="600,auto,auto" RowSpacing=20>
        <ListView1 @ref=_list TItem=TestListRow CornerRadius=4 BorderThickness=1 Margin=10 Padding=10
                  @bind-SelectedItem=_selectedItem
                  @bind-SelectedItems=_selectedItems
                  SelectionMode=@_selectionMode
                  AllowSelectionToggle=@_allowSelectionToggle
                  HoverHighlight=@_hoverHighlight OverscrollBehaviour=OverscrollBehaviour.None
                  VirtualizeMode=VirtualizeMode.None
                  InitialIndex=@((20, Alignment.Center))
                  HorizontalScrollbar=true
                  Items=@_localListData>
            <RowTemplate Context=row>
                <Grid Columns="auto,*" Rows="auto,auto" Margin=10 Padding=10 CornerRadius=8 BorderThickness=1>
                    <MaterialIcon Icon=@row.IconName Margin=0,5,0,0 />
                    <TextBlock Column=1 Typo=Typo.H6 TextWrapping=TextWrap.Wrap Margin="0,0,10,10">
                        @(row.ToString() + $"({row.ItemIndex})")
                    </TextBlock>
                    <TextBlock Column=1 Row=1 TextWrapping=TextWrap.Wrap
                               Margin="0,0,0,10">
                        @row.Notes
                    </TextBlock>
                </Grid>
            </RowTemplate>
        </ListView1>
        @if (BrowserSizeService.DeviceSize >= DeviceSize.Medium)
        {
            <StackPanel Column=1>
                <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                            @bind-Value:after=@SelectionModeChanged>
                    @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                    {
                        <Radio Label=@mode.ToString() Value="@mode" />
                    }
                </RadioGroup>
                <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
                <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
                <TextBlock Margin=20>Selection=@_selectedItem?.ToString()</TextBlock>
                <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.ToString()))</TextBlock>
                <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
            </StackPanel>
            <WrapPanel Row=1 ColumnSpan=2 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
                <Button OnClicked=@(e => GotoIndex(20, Alignment.Start))> Goto 20(start)</Button>
                <Button OnClicked=@(e => GotoIndex(50, Alignment.Center))>Goto 50 (center)</Button>
                <Button OnClicked=@(e => GotoIndex(70, Alignment.End))>Goto 70 (end)</Button>
                <Button OnClicked=@OnGotoEnd>Goto end</Button>
                <Button OnClicked=@OnGotoStart>Goto start</Button>
                <Button OnClicked=@OnAddNewItem>Add new item</Button>
            </WrapPanel>
            <WrapPanel Row=2 ColumnSpan=2 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
                <Button OnClicked=@OnAddNewItemGotoEndIfAtEnd>Add new item and goto end if at end</Button>
                <Button OnClicked=@ChangeItem>Change first item</Button>
                <StackPanel Orientation=Orientation.Landscape>
                    <Button OnClicked=@CheckAtEnd>CheckAtEnd</Button>
                    <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atEnd</TextBlock>
                </StackPanel>
                <StackPanel Orientation=Orientation.Landscape>
                    <Button OnClicked=@CheckAtStart>CheckAtStart</Button>
                    <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atStart</TextBlock>
                </StackPanel>
            </WrapPanel>
        }
    </Grid>
</StackPanel>

