@namespace ClearBlazorTest
<Button ButtonStyle=TextEditFillMode.Filled Icon="@Icons.Material.Filled.AccessAlarm"
        IconLocation=IconLocation.Start>
</Button>

<Button ButtonStyle=TextEditFillMode.Filled Icon="@Icons.Material.Filled.AccessAlarm"
        IconLocation=IconLocation.Start IconColor="Color.Secondary">
</Button>

<Button ButtonStyle=TextEditFillMode.None Icon="@Icons.Material.Filled.AccessAlarm"
        IconLocation=IconLocation.Start IconColor="Color.Secondary">
</Button>

<Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete" 
        IconLocation=IconLocation.Start Color="Color.Error">
    Delete
</Button>
<Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Send" 
        IconLocation=IconLocation.End Color ="Color.Primary">
    Send
</Button>
<Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Ballot" Color="Color.Warning">
    Warning
    </Button>
<Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Mic" Disabled="true">
    Talk
    </Button>
<Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Save" 
        Color="Color.Info" Size="Size.Small">
    Save
</Button>
<Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Save" 
        IconColor="Color.Secondary" Size="Size.Large">
    Save
</Button>
