@namespace ClearBlazorTest
<Button ButtonStyle=ButtonStyle.Filled Color="@Color.Primary" Size="Size.VerySmall">Very Small</Button>
<Button ButtonStyle=ButtonStyle.Filled Color="@Color.Primary" Size="Size.Small">Small</Button>
<Button ButtonStyle=ButtonStyle.Filled Color="@Color.Primary" Size="Size.Normal">Normal</Button>
<Button ButtonStyle=ButtonStyle.Filled Color="@Color.Primary" Size="Size.Large">Large</Button>
<Button ButtonStyle=ButtonStyle.Filled Color="@Color.Primary" Size="Size.VeryLarge"> VeryLarge</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Color="@Color.Primary" Size="Size.VerySmall">Very Small</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Color="@Color.Primary" Size="Size.Small">Small</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Color="@Color.Primary" Size="Size.Normal">Normal</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Color="@Color.Primary" Size="Size.Large">Large</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Color="@Color.Primary" Size="Size.VeryLarge">Very Large</Button>
<Button ButtonStyle=ButtonStyle.Outlined Color="@Color.Primary" Size="Size.VerySmall">Very Small</Button>
<Button ButtonStyle=ButtonStyle.Outlined Color="@Color.Primary" Size="Size.Small">Small</Button>
<Button ButtonStyle=ButtonStyle.Outlined Color="@Color.Primary" Size="Size.Normal">Normal</Button>
<Button ButtonStyle=ButtonStyle.Outlined Color="@Color.Primary" Size="Size.Large">Large</Button>
<Button ButtonStyle=ButtonStyle.Outlined Color="@Color.Primary" Size="Size.VeryLarge">Very Large</Button>
