@namespace ClearBlazorTest
<Button ButtonStyle=TextEditFillMode.Filled Color="@Color.Primary" Size="Size.VerySmall">Very Small</Button>
<Button ButtonStyle=TextEditFillMode.Filled Color="@Color.Primary" Size="Size.Small">Small</Button>
<Button ButtonStyle=TextEditFillMode.Filled Color="@Color.Primary" Size="Size.Normal">Normal</Button>
<Button ButtonStyle=TextEditFillMode.Filled Color="@Color.Primary" Size="Size.Large">Large</Button>
<Button ButtonStyle=TextEditFillMode.Filled Color="@Color.Primary" Size="Size.VeryLarge"> VeryLarge</Button>
<Button ButtonStyle=TextEditFillMode.None Color="@Color.Primary" Size="Size.VerySmall">Very Small</Button>
<Button ButtonStyle=TextEditFillMode.None Color="@Color.Primary" Size="Size.Small">Small</Button>
<Button ButtonStyle=TextEditFillMode.None Color="@Color.Primary" Size="Size.Normal">Normal</Button>
<Button ButtonStyle=TextEditFillMode.None Color="@Color.Primary" Size="Size.Large">Large</Button>
<Button ButtonStyle=TextEditFillMode.None Color="@Color.Primary" Size="Size.VeryLarge">Very Large</Button>
<Button ButtonStyle=TextEditFillMode.Outline Color="@Color.Primary" Size="Size.VerySmall">Very Small</Button>
<Button ButtonStyle=TextEditFillMode.Outline Color="@Color.Primary" Size="Size.Small">Small</Button>
<Button ButtonStyle=TextEditFillMode.Outline Color="@Color.Primary" Size="Size.Normal">Normal</Button>
<Button ButtonStyle=TextEditFillMode.Outline Color="@Color.Primary" Size="Size.Large">Large</Button>
<Button ButtonStyle=TextEditFillMode.Outline Color="@Color.Primary" Size="Size.VeryLarge">Very Large</Button>
