@using Microsoft.AspNetCore.Components
@inherits ClearComponentBase
@namespace ClearBlazor

<CascadingValue Value="this" IsFixed="false">
    @if (Clickable)
    {
        <div id="@Id" @attributes=AdditionalAttributes class="@Classes" style="@ComputeStyle()" @onpointerover=OnPointerOver
        data-toggle="tooltip" title="@ToolTip" data-data-placement="auto">
            @if(Text == null)
            {
                @ChildContent
            }
            else
            {
                <div>@Text</div>
            }
        </div>
    }
    else
    {
        <div id="@Id" class="@Classes" style="@ComputeStyle()" @onpointerover=OnPointerOver
             data-toggle="tooltip" title="@ToolTip" data-data-placement="auto">
            @if (Text == null)
            {
                @ChildContent
            }
            else
            {
                <div>@Text</div>
            }
        </div>
    }
</CascadingValue>

