@namespace ClearBlazor
@inherits ClearComponentBase
@typeparam TItem

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" style="@ComputeStyle()" class="@Classes">
        <ScrollViewer HorizontalScrollMode=ScrollMode.Auto VerticalScrollMode=ScrollMode.Disabled>
        <Grid Rows="auto" Columns=@ColumnDefs ColumnSpacing=@ColumnSpacing>
            @for (int col = 0; col < Columns.Count; col++)
            {
                var colIndex = col;
                <div id=@_headerId style=@GetHeaderStyle(colIndex+1)>
                    @if (@Columns[colIndex] == null || @Columns[colIndex].HeaderTemplate == null)
                    {
                        <TextBlock FontWeight=@((int)FontWeight.Bold)>@Columns[colIndex].Label</TextBlock>
                    }
                    else
                    {
                        @Columns[colIndex].HeaderTemplate(@Columns[colIndex].Label)
                        ;
                    }
                </div>
            }
            @if (VerticalGridLines == GridLines.HeaderOnly || VerticalGridLines == GridLines.All)
            {
                @for (int col = 0; col < Columns.Count - 1; col++)
                {
                    var colIndex = col;
                    @if (VerticalGridLines == GridLines.HeaderOnly)
                    {
                        <div style=@GetVerticalGridLineStyle(colIndex+2, 1) />
                    }
                    else
                    {
                        <div style=@GetVerticalGridLineStyle(colIndex+2, _items.Count+1) />
                    }
                }
            }

            @if (HorizontalGridLines == GridLines.HeaderOnly || HorizontalGridLines == GridLines.All)
            {
                <div style=@GetHorizontalGridLineStyle(2, Columns.Count) />
            }

            <div id=@_scrollViewerId style=@GetRowStyle()>
                @for (int row = 0; row < _items.Count(); row++)
                {
                    var rowIndex = row;
                    @for (int col = 0; col < Columns.Count; col++)
                    {
                        var colIndex = col;
                        <div id=@(row==0 && col==0 ? _firstItemId : 0) style=@GetRowStyle(rowIndex+2, colIndex+1)>
                            @if (@Columns[colIndex] == null || @Columns[colIndex].DataTemplate == null)
                            {
                                <TextBlock>
                                    @foreach (var line in GetLines(Columns[colIndex].Field.Invoke(_items[rowIndex].item).ToString()))
                                    {
                                        @(line)
                                        <br />
                                    }
                                </TextBlock>
                            }
                            else
                            {
                                @Columns[colIndex].DataTemplate(@_items[rowIndex].item)
                            }
                        </div>
                    }
                    @if (HorizontalGridLines == GridLines.All)
                    {
                        @if(row != _items.Count-1)
                        {
                            <div style=@GetHorizontalGridLineStyle(rowIndex+3, Columns.Count) />
                        }
                    }
                }
            </div>
        </Grid>
        </ScrollViewer>
    </div>
    @ChildContent
</CascadingValue>


