@namespace ClearBlazorTest
<Grid Columns="400,auto" Rows="600,auto,auto">
    <ListView @ref=_list TItem=Feed CornerRadius=4 BorderThickness=1 Margin=10 Padding=10
    @bind-SelectedItem=_selectedItem
    @bind-SelectedItems=_selectedItems
    SelectionMode=@_selectionMode
    AllowSelectionToggle=@_allowSelectionToggle
    HoverHighlight=@_hoverHighlight OverscrollBehaviour=OverscrollBehaviour.None
    VirtualizeMode=VirtualizeMode.Pagination
    PageSize=6 Items=@_feeds>
        <RowTemplate Context=row>
            <Grid Columns="auto,*" Rows="auto,auto" Margin=10 Padding=10 CornerRadius=8 BorderThickness=1>
                <Image RowSpan=2 Height=40 Width=40 VerticalAlignment=Alignment.Center
                Style="border-radius:50%; " Stretch=ImageStretch.Fill
                Source=@($"https://picsum.photos/id/{row.ImageId}/200/200") />
                <TextBlock Column=1 Typo=Typo.H6 TextWrapping=TextWrap.Wrap Margin="0,0,10,10">
                    @row.Title
                </TextBlock>
                <TextBlock Column=1 Row=1 TextWrapping=TextWrap.Wrap Margin="0,0,0,10">
                    @row.Message
                </TextBlock>
            </Grid>
        </RowTemplate>
    </ListView>
    <Pagination HorizontalAlignment=Alignment.Center Row=1 Color=Color.Primary 
                ShowFirstAndLastButtons=true
                SelectedPage=@_selectedPage 
                NumPages=(int)Math.Ceiling(_feeds.Count/6.0) 
                NumPagesShown=4
                SelectedPageChanged=@PageChanged />
    <TextBlock HorizontalAlignment=Alignment.Center Row=2 Margin=10 >Page @(_list.CurrentPageNum()) of @(_list.NumPages())</TextBlock>

    @if (BrowserSizeService.DeviceSize >= DeviceSize.Small)
    {
        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
            @bind-Value:after=@SelectionModeChanged>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.Title</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.Title))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
    }
</Grid>

@code {
    private class Feed : ListItem
    {
        public int ImageId { get; set; }
        public string Title { get; set; } = string.Empty;
        public string Message { get; set; } = string.Empty;
    }


    ListView<Feed> _list = null!;
    private Feed _selectedItem = null!;
    private List<Feed> _selectedItems = new();
    private SelectionMode _selectionMode = SelectionMode.None;
    private bool _allowSelectionToggle = false;
    private bool _hoverHighlight = true;
    private bool _atEnd = false;
    private bool _atStart = true;
    private int _selectedPage = 3;

    List<Feed> _feeds = new List<Feed>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        for (int i = 0; i < 10000; i++)
        {
            _feeds.Add(new Feed { ImageId = i, Title = $"Record #{i}", Message = "This is a message" }); //GetMessage(i) });
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
            await _list.GotoPage(_selectedPage);
    }

    async Task PageChanged(int page)
    {
        await _list.GotoPage(page);
        _selectedPage = page;
    }

    void ChangeItem()
    {
        _feeds[0].Title = "Bla bla bla";
        _list.Refresh(_feeds[0]);
    }

    private string GetMessage(int i)
    {
        switch (i % 8)
        {
            case 0:
                return "Lorem ipsum dolor";
            case 1:
                return "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Dolorem";
            case 2:
                return "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Dolorem ab, magnam quaerat praesentium delectus iure, consequuntur commodi exercitationem asperiores ad deleniti iste rem eius.Saepe consequatur consequuntur ";
            case 3:
                return "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Dolorem ab, magnam quaerat praesentium delectus iure, consequuntur commodi exercitationem asperiores";
            case 4:
                return "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Dolorem ab, magnam quaerat praesentium delectus iure, consequuntur commodi exercitationem asperiores ad deleniti iste rem eius.Saepe consequatur consequuntur blanditiis velit dolore.";
            case 5:
                return "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Dolorem ab, magnam quaerat praesentium delectus iure";
            case 6:
                return "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Dolorem ab, magnam quaerat praesentium delectus iure, consequuntur commodi exercitationem .";
            case 7:
                return "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Dolorem ab, magnam quaerat praesentium delectus iure, consequuntur commodi exercitationem asperiores ad deleniti iste rem eius.";
        }
        return "Lorem ipsum dolor";

    }

    private async Task SelectionModeChanged()
    {
        if (_list == null)
            return;
        await _list.RemoveAllSelections();
        StateHasChanged();
    }

    private async Task ClearSelections()
    {
        await _list.RemoveAllSelections();
        StateHasChanged();
    }
}