@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@typeparam TListBox
@inherits ClearComponentBase
<CascadingValue Value=this IsFixed="false">
    <div id="@Id" @attributes=AdditionalAttributes class="@Classes" style="@ComputeStyle()">
        <StackPanel Orientation=Orientation.Portrait HorizontalAlignment=Alignment.Stretch>
            <StackPanel Orientation=Orientation.Landscape HorizontalAlignment=@ContentAlignment 
                        Spacing=20 CornerRadius=20
                        Padding=@LinePadding Class=@RowClasses
                        Style=@RowStyle
                        OnElementMouseEnter=@OnMouseEnter
                        OnElementMouseLeave=@OnMouseLeave
                        @onclick=@OnListItemClicked>
                @if (Multiselect && !HasChildren)
                {
                    @if (IsSelected)
                    {
                        <Icon VerticalAlignment=Alignment.Center Size=@RowSize
                              Color=@GetColor() IconName=@Icons.Material.Filled.CheckBox />
                    }
                    else
                    {
                        <Icon VerticalAlignment=Alignment.Center Size=@RowSize
                              Color=@GetColor() IconName=@Icons.Material.Filled.CheckBoxOutlineBlank />
                    }
                }

                @if (Icon != null)
                {
                    <Icon Margin="0,7,0,7" Size=@RowSize IconName=@Icon Color=@GetColor()
                                  HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.Center />
                }
                else if (Avatar != null)
                {
                    <Avatar HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.Center
                            AvatarStyle=AvatarStyle.LabelOnly Size=@RowSize Icon=@Avatar Color=@GetColor()
                            IconColor=@GetColor() />
                }

                @if (Text != null)
                {
                    <TextBlock HorizontalAlignment=Alignment.Start
                               VerticalAlignment=Alignment.Center
                               FontSize=@FontSize
                               FontFamily="@FontFamily"
                               FontWeight="@FontWeight"
                               FontStyle="@FontStyle"
                               TextWrapping="TextWrap.NoWrap"
                               Color=@GetColor()>@Text</TextBlock>

                }
                @if (HasChildren)
                {
                    @if (IsExpanded == true)
                    {
                        <Icon Color=@GetColor() Size=Size.Normal IconName=@Icons.Material.Filled.ExpandLess
                              VerticalAlignment=Alignment.Center />
                    }
                    else
                    {
                        <Icon Color=@GetColor() Size=Size.Normal IconName=@Icons.Material.Filled.ExpandMore
                              VerticalAlignment=Alignment.Center />
                    }
                }
            </StackPanel>
            @ChildContent
        </StackPanel>
    </div>
</CascadingValue>