@namespace ClearBlazorTest
<ButtonGroup Color="@Color.Primary" ButtonStyle=ButtonStyle.Outlined Size="Size.Normal">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Color="@Color.Primary"/>
    <IconButton Icon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Color="@Color.Secondary" />
    <Button Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.End >
        Delete
    </Button>
</ButtonGroup>
<ButtonGroup Color="@Color.Primary" ButtonStyle=ButtonStyle.Outlined Size="Size.Normal">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Color="@Color.Primary" />
    <IconButton Icon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Color="@Color.Secondary" />
    <Button Icon="@Icons.Material.Filled.Delete" ButtonStyle="ButtonStyle.Filled">
        Delete
    </Button>
</ButtonGroup>

