@using Microsoft.AspNetCore.Components
@inherits ClearComponentBase
@namespace ClearBlazorTest


<div id="@Id" class="@Classes" style="@ComputeStyle()">
    <StackPanel Orientation="Orientation.Portrait">
        @if (!string.IsNullOrEmpty(Title))
        {
            <TextBlock FontSize="22px" FontWeight=@((int)FontWeight.Bold) Margin="10,0,10,0">@Title</TextBlock>
        }
        @if (!string.IsNullOrEmpty(Description))
        {
            <TextBlock FontSize="16px" Margin="10,0,10,0">@Description</TextBlock>
        }
        <Grid Padding="20" BorderThickness=@GetBorderThickness() CornerRadius=@GetCornerRadius() BackgroundColor=@BackgroundColor>
            @ChildContent
            @if (ShowCode)
            {
                <IconButton HorizontalAlignment=Alignment.End VerticalAlignment=Alignment.Start
                            Icon=@Icons.Material.Filled.CodeOff OnClicked=@HideTheCode ToolTip="Hide code" />
            }
            else
            {
                <IconButton HorizontalAlignment=Alignment.End VerticalAlignment=Alignment.Start
                            Icon=@Icons.Material.Filled.Code OnClicked=@ShowTheCode ToolTip="Show Code" />

            }
        </Grid>
        @if (ShowCode)
        {
            <Grid CornerRadius="0,0,8,8" BorderThickness="1" BackgroundColor="@Color.BackgroundGrey" Padding="20">
                <ScrollViewer HorizontalScrollMode="ScrollMode.Auto" VerticalScrollMode="ScrollMode.Disabled">
                    @CodeComponent(Code)
                </ScrollViewer>
            </Grid>
        }
    </StackPanel>
</div>



