@namespace ClearBlazorTest
@using ClearBlazorTest
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        <ScrollViewer>
            <StackPanel Spacing=20>
                <TextBlock Typo=Typo.H4 >@ComponentName</TextBlock>
                <TextBlock>@ComponentDescription</TextBlock>
                <ApiComponent ParameterApi=@GridApi.ParameterApi
                              PropertyApi=@GridApi.PropertyApi
                              MethodApi=@GridApi.MethodApi
                              EventApi=@GridApi.EventApi/>
            </StackPanel>
        </ScrollViewer>
    </div>
</CascadingValue>


