@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        @if (VariableItemHeight)
        {
            <InfiniteScroller Height=@Height Width=@Width
                                    Items=@Items DataProvider=@DataProvider>
                <RowTemplate Context=item>
                    <div style=@GetContentStyle(item) @onmouseenter="(() => MouseEnter(item))"
                         @onmouseleave="(() => MouseLeave())" @onclick="(() => ItemClicked(item))">
                        @RowTemplate(GetItemInfo(item))
                    </div>
                </RowTemplate>
            </InfiniteScroller>
        }
        else
        {
            <ClearBlazor.Virtualize Height=@Height Width=@Width
                                    Items=@Items DataProvider=@DataProvider ItemHeight=@ItemHeight>
                <RowTemplate Context=item>
                    <div style=@GetContentStyle(item) @onmouseenter="(() => MouseEnter(item))"
                         @onmouseleave="(() => MouseLeave())" @onclick="(() => ItemClicked(item))">
                         @RowTemplate(GetItemInfo(item))
                    </div>
                </RowTemplate>
            </ClearBlazor.Virtualize>
        }
    </div>
</CascadingValue>