@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        @if (VariableItemHeight)
        {
            <InfiniteScrollerList Height=@Height Width=@Width
                                    Items=@Items DataProvider=@DataProvider>
                <RowTemplate Context=item>
                    <div style=@GetContentStyle(item) @onmouseenter="(() => MouseEnter(item))"
                         @onmouseleave="(() => MouseLeave())" @onclick="(() => ItemClicked(item))">
                        @RowTemplate(GetItemInfo(item))
                    </div>
                </RowTemplate>
            </InfiniteScrollerList>
        }
        else
        {
            <VirtualizeList Height=@Height Width=@Width
                                    Items=@Items DataProvider=@DataProvider ItemHeight=@ItemHeight>
                <RowTemplate Context=item>
                    <div style=@GetContentStyle(item) @onmouseenter="(() => MouseEnter(item))"
                         @onmouseleave="(() => MouseLeave())" @onclick="(() => ItemClicked(item))">
                         @RowTemplate(GetItemInfo(item))
                    </div>
                </RowTemplate>
            </VirtualizeList>
        }
    </div>
</CascadingValue>