@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        @switch(VirtualizeMode)
        {
            case VirtualizeMode.None:
                <NonVirtualizedList @ref=UnderlyingList Height=@Height Width=@Width
                                    Items=@Items DataProvider=@DataProvider>
                    <RowTemplate Context=item>
                        <div style=@GetContentStyle(item.item) @onmouseenter="(() => MouseEnter(item.item))"
                             @onmouseleave="(() => MouseLeave())" @onclick="((e) => ItemClicked(e, item.item, item.index))">
                            @RowTemplate(GetItemInfo(item.item))
                        </div>
                    </RowTemplate>
                </NonVirtualizedList>
                break;
            case VirtualizeMode.Virtualize:
                <VirtualizedList @ref=UnderlyingList Height=@Height Width=@Width ItemHeight=@ItemHeight
                                      Items=@Items DataProvider=@DataProvider>
                    <RowTemplate Context=item>
                        <div style=@GetContentStyle(item.item) @onmouseenter="(() => MouseEnter(item.item))"
                             @onmouseleave="(() => MouseLeave())" @onclick="((e) => ItemClicked(e, item.item, item.index))">
                            @RowTemplate(GetItemInfo(item.item))
                        </div>
                    </RowTemplate>
                </VirtualizedList>
                break;
            case VirtualizeMode.InfiniteScroll:
                <InfiniteScrollerList Height=@Height Width=@Width
                                Items=@Items DataProvider=@DataProvider>
                    <RowTemplate Context=item>
                        <div style=@GetContentStyle(item.item) @onmouseenter="(() => MouseEnter(item.item))"
                             @onmouseleave="(() => MouseLeave())" @onclick="((e) => ItemClicked(e, item.item, item.index))">
                            @RowTemplate(GetItemInfo(item.item))
                        </div>
                    </RowTemplate>
                </InfiniteScrollerList>
                break;
        }
    </div>
</CascadingValue>