@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits ClearComponentBase
<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()"
        @onclick="OnElementClicked"
        @onmouseenter="OnMouseEnter"
        @onmouseleave="OnMouseLeave">
        @if (ToolTip != null && ToolTip != string.Empty)
        {
            <ToolTip @ref="ToolTipElement" Text=@ToolTip ToolTipPosition=@ToolTipPosition Delay=@ToolTipDelay />
        }
        <StackPanel Orientation="Orientation.Landscape" Class=@GetClasses()
                    Spacing="@Spacing" VerticalAlignment="Alignment.Center">
            @if (Icon != null && IconLocation == IconLocation.Start)
            {
                <Icon Color="@_iconColor" Size=@GetSize() IconName="@Icon" />
            }
            <span style="@LabelStyle">
                @ChildContent
            </span>
            @if (Icon != null && IconLocation == IconLocation.End)
            {
                <Icon Color="@_iconColor" Size="@Size" IconName="@Icon" />
            }
        </StackPanel>
    </div>
</CascadingValue>
