@using ClearBlazorTest
@namespace ClearBlazorTest
@inherits ClearComponentBase
<div id="@Id" class="@Classes" style="@ComputeStyle()">
    <ScrollViewer>
        <StackPanel Padding="20" Spacing="20">
            <TextBlock HorizontalAlignment=Alignment.Center Typo=Typo.H4>API</TextBlock>
            <DocsHeader DocsName=@DocsInfo?.Name DocsDescription=@DocsInfo?.Description ForApi=true />
            <TextBlock>@GetExamplesLink()</TextBlock>
            <ApiComponent ParameterApi=@DocsInfo?.ParameterApi
                          MethodApi=@DocsInfo?.MethodApi/>

            <TextBlock>@GetInheritLink()</TextBlock>
            <TextBlock>@GetImplementsLink()</TextBlock>
        </StackPanel>
    </ScrollViewer>
</div>

