@page "/ListViewPaginationDB"
@using Data;
@namespace ListsTest
<StackPanel Orientation=Orientation.Portrait>
    <TextBlock HorizontalAlignment=Alignment.Start Typo=Typo.H4>List View</TextBlock>
    <TextBlock HorizontalAlignment=Alignment.Start>VirtualizationMode:Pagination : from DB (5000 rows loaded as required)</TextBlock>
    <Grid Columns="400,auto" Rows="600,auto,auto">
        <ListView @ref=_list TItem=TestListRow CornerRadius=4 BorderThickness=1 Margin=10 Padding=10
                  @bind-SelectedItem=_selectedItem
                  @bind-SelectedItems=_selectedItems
                  DataProvider=@GetItemsFromDatabase
                  SelectionMode=@_selectionMode
                  AllowSelectionToggle=@_allowSelectionToggle
                  HoverHighlight=@_hoverHighlight OverscrollBehaviour=OverscrollBehaviour.None
                  VirtualizeMode=VirtualizeMode.Pagination
                  PageSize=3
                  InitialIndex=@((20, Alignment.Center))>
            <RowTemplate Context=row>
                <Grid Columns="auto,*" Rows="auto,auto" Margin=10 Padding=10 CornerRadius=8 BoxShadow=4>
                    <MaterialIcon Icon=@row.IconName Margin=0,5,0,0 />
                    <TextBlock Column=1 Typo=Typo.H6 TextWrapping=TextWrap.Wrap Margin="0,0,10,10">
                        @row.ToString()
                    </TextBlock>
                    <TextBlock Column=1 Row=1 TextWrapping=TextWrap.Wrap Margin="0,0,0,10">
                        @row.Notes
                    </TextBlock>
                </Grid>
            </RowTemplate>
        </ListView>
        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                        @bind-Value:after=@SelectionModeChanged>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.ToString()</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.ToString()))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
        <WrapPanel Row=1 ColumnSpan=3 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row Margin=10>
            <StackPanel Orientation=Orientation.Landscape>
                <TextBlock>Page @(_list.CurrentPageNum()) of @(_list.NumPages())</TextBlock>
            </StackPanel>
            <Button OnClicked=@OnNextPage>Next Page</Button>
            <Button OnClicked=@OnPrevPage>Prev Page</Button>
            <Button OnClicked=@OnGotoStart>Goto Start</Button>
            <Button OnClicked=@OnGotoEnd>Goto End</Button>
        </WrapPanel>
        <WrapPanel Row=2 ColumnSpan=3 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row Margin=10>
            <Button OnClicked=@(e => GotoIndex(50, Alignment.Center))>Goto 50</Button>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtEnd>CheckAtEnd</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atEnd</TextBlock>
            </StackPanel>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtStart>CheckAtStart</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atStart</TextBlock>
            </StackPanel>
        </WrapPanel>
    </Grid>
</StackPanel>

