@namespace ClearBlazorTest
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.Small">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Colour="@Color.Primary"/>
    <IconButton Icon="@Icons.Material.Filled.Delete" Colour="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Colour="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Colour="Color.Error">
        Delete
    </Button>
</ButtonGroup>
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.Normal">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Colour="@Color.Primary"/>
    <IconButton Icon="@Icons.Material.Filled.Delete" Colour="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Colour="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Colour="Color.Error">
        Delete
    </Button>
</ButtonGroup>
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.Large">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Colour="@Color.Primary" />
    <IconButton Icon="@Icons.Material.Filled.Delete" Colour="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Colour="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Colour="Color.Error">
        Delete
    </Button>
</ButtonGroup>
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.VeryLarge">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Colour="@Color.Primary" />
    <IconButton Icon="@Icons.Material.Filled.Delete" Colour="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Colour="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Colour="Color.Error">
        Delete
    </Button>
</ButtonGroup>

