@namespace ClearBlazorTest
<ButtonGroup Color="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.Small">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Color="@Color.Primary"/>
    <IconButton Icon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Color="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Color="Color.Error">
        Delete
    </Button>
</ButtonGroup>
<ButtonGroup Color="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.Normal">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Color="@Color.Primary"/>
    <IconButton Icon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Color="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Color="Color.Error">
        Delete
    </Button>
</ButtonGroup>
<ButtonGroup Color="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.Large">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Color="@Color.Primary" />
    <IconButton Icon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Color="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Color="Color.Error">
        Delete
    </Button>
</ButtonGroup>
<ButtonGroup Color="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.VeryLarge">
    <IconButton Icon="@Icons.Material.Filled.AccessAlarm" Color="@Color.Primary" />
    <IconButton Icon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" />
    <IconButton Icon="@Icons.Material.Filled.AddCircle" Disabled=true Color="@Color.Secondary" />
    <Button ButtonStyle="TextEditFillMode.Filled" Icon="@Icons.Material.Filled.Delete"
            IconLocation=IconLocation.Start Color="Color.Error">
        Delete
    </Button>
</ButtonGroup>

