@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" @attributes=AdditionalAttributes class ="@Classes" style="@ComputeStyle()"
         @onpointerdown=OnPointerDown
         @onpointerup=OnPointerUp
         @onpointermove=OnPointerMove
         @onpointerenter=OnPointerEnter
         @onpointerleave="OnPointerLeave">

        @if (!string.IsNullOrEmpty(Text))
        {
            <TextBlock HorizontalAlignment=Alignment.Center 
                       VerticalAlignment=Alignment.Center 
                       FontSize=@FontSize 
                       FontFamily="@FontFamily"
                       FontWeight="@FontWeight"
                       FontStyle="@FontStyle"
                       Color=@TextColor>@Text</TextBlock>
        }
        else if (!string.IsNullOrEmpty(Icon))
        {
            <Icon Size=@Size IconName=@Icon Color=@IconColor HorizontalAlignment=Alignment.Center
                  VerticalAlignment=Alignment.Center/>
        }
        else if (!string.IsNullOrEmpty(Image))
        {
            <Image VerticalAlignment="Alignment.Center" HorizontalAlignment="Alignment.Center" 
                   Stretch="ImageStretch.UniformToFill" Source="@Image" />
        }
    </div>

</CascadingValue>


