@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        @if (!string.IsNullOrEmpty(Text))
        {
            <TextBlock HorizontalAlignment=Alignment.Center 
                       VerticalAlignment=Alignment.Center 
                       FontSize=@FontSize 
                       FontFamily="@FontFamily"
                       FontWeight="@FontWeight"
                       FontStyle="@FontStyle"
                       Color=@TextColor>@Text</TextBlock>
        }
        else if (!string.IsNullOrEmpty(Icon))
        {
            <MaterialIcon Size=@Size Icon=@Icon Color=@IconColor HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.Center/>
        }
        else if (!string.IsNullOrEmpty(Image))
        {
            <Image VerticalAlignment="Alignment.Center" HorizontalAlignment="Alignment.Center" Stretch="ImageStretch.UniformToFill" Source="@Image" />
        }
    </div>

</CascadingValue>


