@namespace ClearBlazor
@typeparam TItem
@inherits InputBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        <StackPanel Orientation="Orientation.Portrait" BackgroundColor=@BackgroundColor>
            @if (!string.IsNullOrEmpty(Label))
            {
                <div style=@GetLabelStyle()>@Label</div>
            }
            <Grid Columns="*,auto" BackgroundColor=Color.Transparent>
                <StackPanel Orientation=@Orientation Spacing=@Spacing BackgroundColor=Color.Transparent>
                    @ChildContent
                    @if (RadioGroupData != null)
                    {
                        @foreach (var item in RadioGroupData)
                        {
                            <Radio Label=@item.Name Value=@item.Value Color=@Color/>
                        }
                    }
                </StackPanel>
                @if (ValidationErrorLocation == ValidationErrorLocation.ErrorIcon && !IsValid)
                {
                    <Icon Column=1 IconName="@Icons.Material.Filled.FmdBad" Size=@Size ToolTip=@ValidationMessage
                                  Color=@Color.Error />
                }

            </Grid>
            @if (ValidationErrorLocation == ValidationErrorLocation.Inline && !IsValid)
            {
                <TextBlock TextWrapping="TextWrap.WrapOnNewLines" Color=@Color.Error>@ValidationMessage</TextBlock>
            }
        </StackPanel>
    </div>
</CascadingValue>

