@namespace ClearBlazor
@inherits InputBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" @attributes=AdditionalAttributes class="@Classes" style="@ComputeStyle()"
         @onmouseenter="OnMouseEnter"
         @onmouseleave="OnMouseLeave">
        <StackPanel Orientation="Orientation.Landscape" 
                    HorizontalAlignment=Alignment.Start
                    VerticalAlignment=Alignment.Start>
            @if (Label != null && LabelLocation == LabelLocation.Start)
            {
                <TextBlock VerticalAlignment=Alignment.Center Margin=@GetLabelMargin()>@Label</TextBlock>
            }
            <Grid @onclick=@OnSwitchClicked Style=@GetSwitchStyle()>
                <Grid Style=@GetTrackStyle() />
                <Grid Class="clear-ripple clear-ripple-icon switch-transition" Style=@GetHoverStyle() VerticalAlignment=Alignment.Center>
                    <Grid Style=@GetThumbStyle() VerticalAlignment=Alignment.Center HorizontalAlignment=Alignment.Center />
                </Grid>
            </Grid>

            @if (Label != null && LabelLocation == LabelLocation.End)
            {
                <TextBlock VerticalAlignment=Alignment.Center Margin=@GetLabelMargin()>@Label</TextBlock>
            }
        </StackPanel>
    </div>
</CascadingValue>
