@using Microsoft.AspNetCore.Components
@inherits ClearComponentBase
@namespace ClearBlazorTest


<div id="@Id" class="@Classes" style="@ComputeStyle()">
    <StackPanel Orientation="Orientation.Portrait">
        @if (!string.IsNullOrEmpty(Title))
        {
            <TextBlock FontSize="22px" FontWeight=@((int)FontWeight.Bold) Margin="10,0,10,0">@Title</TextBlock>
        }
        @if (!string.IsNullOrEmpty(Description))
        {
            <TextBlock FontSize="16px" Margin="10,0,10,0">@Description</TextBlock>
        }
        <Grid Padding="20" BorderThickness="1,1,0,1" CornerRadius="8,8,0,0" BackgroundColour=@BackgroundColour>
            @ChildContent
        </Grid>
        @if (ShowCode)
        {
            <Grid CornerRadius="0,0,8,8" BorderThickness="1" BackgroundColour="@Color.BackgroundGrey" Padding="20">
                <ScrollViewer HorizontalScrollMode="ScrollMode.Auto" VerticalScrollMode="ScrollMode.Disabled">
                    @CodeComponent(Code)
                </ScrollViewer>
            </Grid>
        }
    </StackPanel>
</div>



